* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input {
    grid-column: span 4;
    border: none;
    height: 100px;
    text-align: end;
    padding: 0 15px;
    font-size: 35px;
    font-family: monospace;
    outline: none;
}

button {
    background-color: #252525;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 2px;
    height: 60px;
    font-family: monospace;
}

button:active {
    background-color: red;
}